Repository RGarrido03/SmartHomes, pull requests merged in 2023-12, with the labels that each got.

#41 💻 GitHub Actions support
  .github/workflows/deploy.yaml
  compose.prod.yaml
  compose.yaml
  dataGenerator/main.py
  frontend/.dockerignore
  frontend/Dockerfile.prod
  frontend/next.config.js
  frontend/src/app/api/auth/[...nextauth]/route.ts
  frontend/src/app/home/electricity/page.tsx
  frontend/src/app/home/layout.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/page.tsx
  frontend/src/middleware.ts
Labels: deploy

#43 General improvements
  .vscode/settings.json
  backend/database_files/database.sql
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/Sender.java
  compose.prod.yaml
  compose.yaml
  dataGenerator/main.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/cover.png
  frontend/src/app/insight/page.tsx
  frontend/src/app/login/form.tsx
  frontend/src/app/login/page.tsx
  frontend/src/components/brand-icons.tsx
  frontend/src/components/navbar.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/form.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
Labels: backend, frontend, data generator

#46 Generate all data, create endpoints
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Clients/Client.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Clients/ClientController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Clients/ClientRepository.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Clients/ClientService.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Clients/ClientServiceImpl.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Database/Client.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Database/ClientController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Database/ClientServiceImpl.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Database/Device.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Database/House.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Database/HouseController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/Device.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceRepository.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceService.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceServiceImpl.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceType.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/CostData.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/DeviceData.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/ElectricityData.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/EnvironmentData.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/HouseDataController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/WaterData.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/House.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/HouseController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/HouseRepository.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/HouseService.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/HouseServiceImpl.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/Listener.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/Message.java
  dataGenerator/.gitignore
  dataGenerator/main.py
  dataGenerator/requirements.txt
  frontend/src/app/home/electricity/page.tsx
Labels: backend, data generator

#47 Add device info in status endpoint, turn devices on/off
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/Device.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceService.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceServiceImpl.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/DeviceData.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/HouseDataController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/Listener.java
  compose.prod.yaml
  compose.yaml
Labels: backend

#49 Devices page
  frontend/src/app/home/devices/page.tsx
  frontend/src/app/home/electricity/page.tsx
  frontend/src/components/room-card.tsx
Labels: frontend

#52 31 home page
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/home/page.tsx
  frontend/src/components/ui/card.tsx
Labels: frontend

#55 Register houses and devices
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/home/devices/form.tsx
  frontend/src/app/home/devices/page.tsx
  frontend/src/app/home/devices/types.tsx
  frontend/src/app/home/electricity/page.tsx
  frontend/src/app/insight/form.tsx
  frontend/src/app/insight/page.tsx
  frontend/src/components/room-card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/select.tsx
Labels: frontend

#59 32 environment page
  frontend/src/app/home/environment/page.tsx
Labels: frontend

#61 Add support for more houses in generator, house specification
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Clients/ClientController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/House.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/HouseController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/Listener.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/Message.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/RabbitMQConfig.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/Sender.java
  compose.prod.yaml
  compose.yaml
  dataGenerator/main.py
Labels: backend, data generator

#63 Add notification support
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/HouseController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Notifications/Notification.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Notifications/NotificationSeverityEnum.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Notifications/NotificationTypeEnum.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/RabbitMQ/Listener.java
  frontend/src/app/home/environment/page.tsx
Labels: backend, frontend

#72 CRUD operations for houses
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/insight/change-form.tsx
  frontend/src/app/insight/page.tsx
  frontend/src/components/ui/alert-dialog.tsx
Labels: frontend

#75 Documentation
  .vscode/settings.json
  README.md
  backend/pom.xml
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Clients/ClientController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Devices/DeviceController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/HouseData/HouseDataController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Houses/HouseController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Security/AuthController.java
  backend/src/main/java/pt/ua/deti/ies/SmartHomes/backend/Security/Authentication.java
  compose.prod.yaml
  compose.yaml
  proxy/default.conf
Labels: documentation

#77 Hotfix: remove unused states
  frontend/src/app/home/page.tsx
Labels: frontend
